<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forma za kol1.csv</title>
</head>

<body>

    <p>Predmet <input type="text" name="predmet" value=""></p>
    <p>Profesor <input type="text" name="profesor" value=""></p>
    <p>Ucionice <input type="text" name="ucionice" value=""></p>
    <p>Vreme <input type="text" name="vreme" value=""></p>
    <p>Dan <input type="text" name="dan" value=""></p>
    <p>Datum <input type="text" name="datum" value=""></p>
    <p>Raspored polaganja
      <select>
        <option value="kolokvijum_1">Kolokvijum I</option>
        <option value="kolokvijum_2">Kolokvijum II</option>
      </select>
    </p>
    <button type="dugme">Potvrdi!</button>
</body>
</html>