<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grupe profesora</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'korisnici/pregled-grupa-profesora-style.css' %}">
</head>
<body>
    {% include 'html/meni.html' %}

    <div class="tabla">
       {% if predmeti %}
            {% for predmet in predmeti %}
                <h3>{{ predmet.naziv }}</h3>
                    {% for grupa in grupe %}
                        {% if predmet in grupa.predmeti.all %}
                            <p>
                                {% ifchanged grupa.oznaka_grupe %}
                                    <a href="{% url 'korisnici' grupa.oznaka_grupe nastavnik.nalog.username %}">{{ grupa.oznaka_grupe }}</a>
                                {% endifchanged %}
                            </p>
                        {% endif %}
                    {% endfor %}
                <hr>
            {% endfor %}
        {% else %}
            <p>Predmeti nisu pronadjeni</p>
        {% endif %}
    </div>
</body>
</html>